@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

:root{
    --lightblue: rgb(162, 183, 247);
}

body{
    max-width: 100% ;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    top: 0;
    margin: 0 auto;
    position:relative;
    display: grid;
    background-image: url("../images/utensils.svg");
    background-size:200px;
    
    background-repeat:repeat-x;
    background-position-y: 50px;
    background-position-x: 5px;
    grid-template-areas: "header" "main";
    grid-template-rows: 50px 1fr;
    
}

header{
    display: flex;
    align-items: center;
    justify-content:center;

    grid-area: header;
}

nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width:100%;
}

nav i{
    font-size: 2em;
    margin: 0.5em;
}

main{
    justify-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80%;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    grid-area: main;
    
    
   
}

#underBanner{
    position: absolute;
    top: 200px;
}

h1{
    margin-left: 30%;
    margin-right:30%;
    font-size: 2.3em;
}

input[type="text"],
input[type="password"]{
    width: 80%;
    height: 2em;
    margin: 0.5rem;
    font-size: 1.2em;
    border-width: 0.3rem;
    border-color:var(--lightblue);
    border-style: solid;
    
}

form{
    min-width: 170px;
}

#disclaimer{
    max-width:300px;
    background-color:var(--lightblue);
    color: white;
    font-size: 1.3em;
    margin-top: 150px;
   
}

.currentIcon{
    color: rgb(253, 93, 93);
}

input[type="button"]{
    background-color: rgb(97, 162, 236);
    border: none;
    font-size: 1.5em;
    border-radius: 1rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
   
}
input[type="button"]:hover,
input[type="checkbox"],
label{
    cursor:pointer;
}



input[type="button"]:active{
    background-color: var(--lightblue);
}

h1,header{
    color: white;
    background-color:var(--lightblue);
    
    
}
h1{
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
   
}
#nakedLink{
    background-color: white;
    border-width: 0.2rem;
    border-color: var(--lightblue);
    border-style: solid;
    margin-top: 1em;
    max-width: 50%;
    left: 33%;
    transform: translate(50%,0);
}

#filters li{
    display: inline;
    margin: 0.5rem;
}
#filters ul{
    list-style: none;
    padding-left:0 ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

#submitFilters{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2em;
}



#recepies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

a .fas{
    color: white;
}

#recepies a{
    color: inherit;
    text-decoration: none;
    font-style: normal;
}

.recipe{
    display: block;
    text-align: left;
    border-style: solid;
    border-radius: 0.5rem;
    border-color:rgb(71, 107, 214); 
    border-width: 0.125rem;
    padding-left:0.5rem;
    margin-bottom: 1rem;
    min-width: 300px;
    max-width: 500px;
    box-shadow: 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.171);
    margin:0.6em 0.6em;
}

.recipe h4{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.5em;
    
}

.recipe .time{
    background-color: lightgray;
    border-radius: 1rem;
    width: min-content;
    min-width: 100px;
    padding: 0.3rem;
    text-align: center;
}

.recipe .course{
    float:right;
    border-radius:0 0.37rem 0 0;
    border-style: solid;
    border-width: 0rem;
    padding: 0.5rem;
    margin:0;
    font-size: 1.2em;
    text-align: center;
}
.main{
    background-color: lightsalmon;
    border-color: lightsalmon;
}

.dessert{
    background-color: lightpink;
    border-color: lightpink;
}

.starter{
    background-color: lightgreen;
    border-color: lightgreen;
}

.misc{
    background-color: lightskyblue;
    border-color: lightskyblue;
}

h3{
    margin-bottom: 0;
    margin-top: 0;
}



main .fa-heart{
    float: right;
    font-size: 1.5em;
    margin-bottom: 0.3rem;
    margin-right: 0.6rem;
    color: rgb(17, 54, 163); 
}