@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    top: 0;
    margin:0;
    overflow-x: hidden;
    
}
.fa-plus-circle{
    color: lightskyblue;    
}
header{
    
    color: white;
    
    background-color: rgb(162, 183, 247);
    margin-top: 0;
    text-align: center;
    
    
}


#backIcon{
    width: 1.5em;
    float: left;
    margin-top: 0.7em;
    margin-left: 0.5rem;
}
h1{
    font-size: 2.5em;
}
h2{
    margin-top: 0;  
    margin-bottom: 0;
    padding-top: 8px;
    font-size: 1.4em;
    transition: all .2s linear;
}

em{
    font-weight: 550;
    font-style: normal;
}

main{
    height: 100vh;
    margin: 0 0.4rem;
}

#back_cancel{
    font-size: 2em;
    float: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    transition: all .2s linear;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

form{
    margin-top: 1em;
    font-size: 1.7em;
}
a .fas{
    color: white;
}

textarea,
input[type="text"],
input[type="number"]{
    font-size:1em;
}
#title{
    margin-bottom:0.5rem ;
}

#author{
    font-style: italic;
}

.amount {
    width: 25%;
    margin-right: 0.5rem;
    
}

.ingredient{
    width: 65%;
}

#ingredients{
    max-width: 400px;
}




.widthMax input{
    width: 90vw;
    max-width: 377px;
    min-width: 10px;
}

#directionL{
    font-size: 1.7em;
}
textarea{
    resize: none;
    min-width: 100px;
    width: 90vw;
    max-width: 377px;
    height: 450px;
    font-size: 1.6em;
}

select{
    font-size: 1.3rem;
}


#plusIcon{
    width: 1.2em;
}


#finishButtonMobile{
    display: flex;
    align-items: center;
    border-radius: 10em;
    font-size: 1.5em;
    color: white;
    width: min-content;
    background-color:rgb(124, 153, 241) ;
    padding: 0.6em 0.8em;
    position: fixed;
    top: 75%;
    right: 15px;
    z-index: 2;
}

#finishButtonMobile:hover{
    cursor: pointer;
    
}



#course{
    margin: inherit;
    width: min-content;
    padding: 0.4rem;
    text-align: center;
}



.main{
    background-color:lightsalmon ;
}

.starter{
    background-color: lightgreen;
}

.dessert{
    background-color: lightpink;
}

.misc{
    background-color: lightskyblue;
}
#cancel_back{
    margin-top:0.7rem ;
    width: 1.5em;
    float: left;
    margin-left: 1rem;
    cursor: pointer;
    
}

#done{
    width: 1.5em;
}


@media screen and (min-width:606px){
    
    body{
        background-color:rgb(221, 230, 253); 
    }

    
    main{
        max-width: 600px;
        width: 50%;
        background-color: white;
        padding: 0 2rem;
        box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.075);
    }  
    
    h2{
        font-size: 1.8em;
        margin-right: 1rem;
    }
   
   
    
    .mittig{
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .edit{
        width: 550px;
      
        
    }
    .widthMax input,textarea{
        max-width: 540px;
    }

    textarea{
        font-size: 2em;
    }

    #finishButtonMobile{
        right: 32%;
    }
    
}


@media screen and (min-width:1024px){
    
    main{
    max-width: 1000px;
    padding: 0 4rem;
    }
}